@charset "UTF-8";
/* Rewriting Bootstrap ––––––––––––––––––––––––––––––––––––––––– */
.row.no-padding > * {
  padding: 0;
}

/* Variables ––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* General ––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: #3A3A3A;
  color: #ffffff;
  width: 99%;
}

.no-overflow {
  overflow: hidden;
}

/* Fonts Defitions ––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: "VT323";
  src: url(res/fonts/VT323-Regular.ttf);
}
@font-face {
  font-family: "MINECRAFT";
  src: url(res/fonts/Minecraftia-Regular.ttf);
}
/* Typography –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 40pt;
  line-height: 0.8;
  letter-spacing: -0.1rem;
  font-family: "Lato";
  font-weight: bold;
}

h2 {
  font-size: 35pt;
  line-height: 1.25;
  letter-spacing: -0.1rem;
  font-family: "Lato";
  font-weight: bold;
}

h3 {
  font-size: 35pt;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  font-family: "Lato";
  font-weight: regular;
}

h4 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: -0.08rem;
  font-family: "Lato";
  font-weight: regular;
}

h5 {
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  font-family: "Lato";
}

h6 {
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: 0;
  font-family: "Lato";
}

p {
  margin-top: 0;
  font-size: 22px;
  line-height: 1.8;
  font-family: "Lato";
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #99CC83;
  text-decoration: none;
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 60pt;
  }
  h2 {
    font-size: 55pt;
  }
  h3 {
    font-size: 35pt;
  }
  h4 {
    font-size: 45pt;
  }
  h5 {
    font-size: 35pt;
  }
  h6 {
    font-size: 23pt;
  }
  p {
    font-size: 20pt;
  }
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.left-content {
  background: url("res/img/drey_splashart.webp");
  background-position: right 31% center;
  background-size: cover;
  position: fixed;
  padding: 0px;
  height: 100vh;
  width: 33.33%;
  top: 0px;
  left: 0;
}
.left-content #logo {
  background: url("res/img/favicon.ico");
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.left-content .card {
  border: transparent;
  position: absolute;
  bottom: 50px;
  background-color: transparent;
  width: 90%;
  padding-left: 80px;
}
.left-content .card .social-icons-container {
  padding-bottom: 20px;
  width: 100%;
}
.left-content .card .social-icons-container a {
  padding-right: 10px;
}
.left-content .card .about-me a {
  font-size: 30px;
  font-family: "Lato";
  font-weight: bold;
  background-color: #ffffff;
  color: #3A3A3A;
  padding: 22px 35px;
  border-radius: 45px;
}
.left-content .over {
  background: rgba(29, 29, 29, 0.4);
  color: #ffffff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .left-content {
    background-size: cover;
    position: relative;
    width: 100%;
    height: 200px;
  }
}
.right-content {
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 2000px;
}
.right-content #back-button {
  position: relative;
  text-align: left;
  top: 10px;
  left: 15px;
  width: 150px;
  padding-top: 12px;
  padding-left: 25px;
  padding-bottom: 0px;
  border-radius: 20px;
  background-color: #3A3A3A;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.2s ease;
}
.right-content #back-button:hover {
  padding-left: 20px;
  width: 135px;
}
@media screen and (max-width: 575px) {
  .right-content #back-button {
    padding-top: 8px;
    width: 90px;
    padding-left: 18px;
  }
  .right-content #back-button p {
    font-size: 12px;
  }
}
.right-content #profile .image {
  background: url("res/img/profile.jpeg");
  background-position: left center;
  background-size: cover;
  width: 90%;
  min-width: 200px;
  max-width: 280px;
  height: 92%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (max-width: 1400px) {
  .right-content #profile .image {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: none;
    height: 300px;
  }
}
@media screen and (max-width: 575px) {
  .right-content #profile .image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
  }
}
.right-content #profile .social-icons-container1 {
  font-size: 40px;
  margin-top: -10px;
}
.right-content #profile .social-icons-container2 {
  display: none;
}
.right-content #profile .info-container {
  width: 450px;
}
.right-content #profile .info-container a {
  padding: 10px 5px 0 7px;
  display: inline-block;
  background-color: #ffffff;
  color: #3A3A3A;
  font-size: 21px;
  line-height: 0.9em;
}
.right-content #profile .info-container a:hover {
  background-color: #99CC83;
}
@media screen and (max-width: 1400px) {
  .right-content #profile .social-icons-container1 {
    display: none;
  }
  .right-content #profile .social-icons-container2 {
    display: flex;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
  }
  .right-content #profile .info-container {
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  .right-content #profile .info-container .text {
    margin: 0 auto;
    width: 400px;
  }
}
@media screen and (max-width: 575px) {
  .right-content #profile .social-icons-container2 {
    display: flex;
    text-align: left;
    font-size: 50px;
    margin-top: -10px;
  }
  .right-content #profile .info-container {
    text-align: left;
    padding-top: 20px;
  }
  .right-content #profile .info-container .text {
    margin: 0 0;
    width: 340px;
  }
}
.right-content hr {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  opacity: 1;
}
.right-content .button {
  background-color: #ffffff;
  color: #3A3A3A;
  padding-top: 27px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.right-content .button:hover {
  background-color: #99CC83;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .right-content .button {
    margin-bottom: 10px;
  }
  .right-content hr {
    margin-top: 7px;
  }
}
.right-content .education {
  max-width: 1000px;
}
.right-content .education .row {
  padding: 30px 0px;
}
.right-content .education #logo {
  text-align: right;
}
.right-content .education #logo .image {
  width: 50%;
  min-width: 150px;
  max-width: 300px;
}
.right-content .education #info-education {
  text-align: left;
}
.right-content .education #info-education #program {
  padding-top: 10px;
}
.right-content .education #info-education > ul {
  list-style-image: url("/res/img/bullet_list-3h.png");
}
.right-content .education #info-education > ul p {
  padding-left: 15px;
}
@media screen and (max-width: 1400px) {
  .right-content .education #logo {
    text-align: center;
  }
  .right-content .education #logo .image {
    width: 50%;
  }
  .right-content .education #info-education {
    text-align: center;
  }
  .right-content .education #info-education > ul {
    text-align: left;
    padding-left: 15%;
  }
}
.right-content .projects .spacing {
  background-clip: padding-box;
  border: 5px solid transparent;
}
.right-content .projects .project {
  position: relative;
  height: 350px;
  width: 100%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.right-content .projects .project .bg {
  background-color: rgba(29, 29, 29, 0);
  color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.right-content .projects .project .bg:hover {
  background-color: rgba(29, 29, 29, 0.4);
  color: rgb(255, 255, 255);
}
.right-content .projects .project .name {
  margin-top: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.right-content .projects .project:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 1400px) {
  .right-content .projects .project {
    height: 300px;
  }
}
@media screen and (max-width: 992px) {
  .right-content .projects .project {
    height: 230px;
  }
}
@media screen and (max-width: 575px) {
  .right-content .projects .project {
    height: 140px;
  }
  .right-content .projects .project .bg {
    display: none;
  }
}
.right-content .projects .bg-paper-asteroid {
  background: url("res/img/itchio_icon.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-content .projects .bg-number-cruncher {
  background: url("res/img/itchio_icon.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-content .projects .bg-dagovt {
  background: url("res/img/itchio_icon.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-content .projects .bg-blackjack {
  background: url("res/img/itchio_icon.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-content .projects .bg-dpa {
  background: url("res/img/itchio_icon.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-content .paper-asteroid #banner-project {
  background: url("res/img/itchio_icon.jpg");
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-content .number-cruncher #banner-project {
  background: url("res/img/itchio_icon.jpg");
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-content .dagovt #banner-project {
  background: url("res/img/itchio_icon.jpg");
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-content .blackjack #banner-project {
  background: url("res/img/itchio_icon.jpg");
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-content .dpa #banner-project {
  background: url("res/img/itchio_icon.jpg");
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 575px) {
  .right-content {
    padding: 20px 20px;
  }
}
.about-me #back-button {
  background-color: #ffffff;
}
.about-me #back-button a {
  color: #3A3A3A;
}
.about-me .left-content {
  background: url("res/img/david_triana_front_page.webp");
  background-position: right 70% center;
  background-size: cover;
  position: fixed;
  padding: 0px;
  height: 100vh;
  width: 33.33%;
  top: 0px;
  left: 0;
}
@media screen and (max-width: 1400px) {
  .about-me .left-content {
    background-size: cover;
    background-position: bottom 65% center;
    position: relative;
    width: 100%;
    height: 200px;
  }
}
.about-me .right-content {
  padding-top: 30px;
  padding-left: 20%;
  padding-right: 20%;
}
.about-me .right-content h1 {
  text-align: center;
}
@media screen and (max-width: 575px) {
  .about-me .right-content {
    padding: 20px 20px;
  }
}
.about-me p {
  text-align: justify;
}/*# sourceMappingURL=skelleton.css.map */