.row.no-padding>* {
    padding: 0;
}

/* Variables ––––––––––––––––––––––––––––––––––––––––––––––––––– */
$white-color: #ffffff;
$dark-color: #3A3A3A;
$black-color: #242424;
$secondary-color: #99CC83;
$hover-link-color: #979ACC;

/** Screen Sizes ––––––––––––––––––––––––––––––––––––––––––––––– */
// 0 - 320          Mobile S
$screen-size-xs: 374px;     // 320 - 374        Mobile M        XS
$screen-size-sm: 424px;     // 375 - 424        Mobile L        XS
$screen-size-md: 767px;     // 425 - 767        Tablet          MD
$screen-size-lg: 1023px;    // 768 - 1023       Laptop          LG XL
$screen-size-xl: 1439px;    // 1024 - 1439      Laptop Large    XXL
$screen-size-xxl: none;     // 1440 - 2560      4K

/*                            //  Breakpoint      Dimensions
$screen-size-xs: 576px;     //  x-small             <576 px
$screen-size-sm: 768px;     //  small               >=576 px
$screen-size-md: 992px;     //  medium              >=768 px
$screen-size-lg: 1200px;     //  large              >=992 px
$screen-size-xl: 1400px;     //  extra large        >=1200 px
$screen-size-xxl: none;    //  extra extra large    >=1400 px

/* General ––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: $dark-color;
    color: $white-color;
    font-family: "Lato";
}
.no-overflow {
    overflow: hidden;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
@mixin backgroundCover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Fonts Defitions ––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Regular.ttf);
}

/* Typography –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    font-size: 48px;
    line-height: 0.8;
    letter-spacing: -.1rem;
    font-weight: bold;
}
h2 {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -.1rem;
    font-weight: bold;
}
h3 {
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: -.1rem;
    font-weight: regular;
}
h4 {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -.08rem;
    font-weight: regular;
}
h5 {
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -.05rem;
}
h6 {
    font-size: 25px;
    line-height: 1.6;
    letter-spacing: 0;
}
p {
    margin-top: 0;
    font-size: 22px;
    line-height: 1.8;
}

/*
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}*/

@media screen and (max-width: $screen-size-xl) {
    h1{ font-size: 45px;}
    h2{ font-size: 35px;}
    h3{ font-size: 30px;}
    h4{ font-size: 28px;}
    h5{ font-size: 18px;}
    h6{ font-size: 16px;}
}
@media screen and (max-width: $screen-size-lg) {  
    h1{ font-size: 40px;}
    h2{ font-size: 25px;}
    h3{ font-size: 26px;}
    h4{ font-size: 22px;}
    h5{ font-size: 18px;}
    h6{ font-size: 16px;}
}
@media screen and (max-width: $screen-size-md) {
    h1{ font-size: 30px;}
    h2{ font-size: 25px;}
    h3{ font-size: 22px;}
    h4{ font-size: 20px;}
    h5{ font-size: 18px;}
    h6{ font-size: 16px;}
}
@media screen and (max-width: $screen-size-sm) { 
    h1{ font-size: 30px;}
    h2{ font-size: 25px;}
    h3{ font-size: 22px;}
    h4{ font-size: 20px;}
    h5{ font-size: 18px;}
    h6{ font-size: 16px;}
}
@media screen and (max-width: $screen-size-xs) { 
    h1{ font-size: 30px;}
    h2{ font-size: 25px;}
    h3{ font-size: 22px;}
    h4{ font-size: 20px;}
    h5{ font-size: 18px;}
    h6{ font-size: 16px;}
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.wrapper-left-side {
    background: url('/assets/img/drey_splashart.webp');
    background-position: right 30% center;
    background-size: cover;
    position: fixed;
    padding: 0px;
    height: 100vh;
    width: 33.33%;
    top: 0px;
    left: 0;
    transition: 0.4s;

    .logo {
        background: url('/assets/img/favicon.ico');
        position: absolute;
        top: 20px;
        left: 20px;
        width: 100px;
        height: 100px;
        padding: 20px;
        @include backgroundCover();
        background-color: red;
    }
    @media screen and (max-width: $screen-size-xl) {
        .logo{ background-color: pink;}
    }
    @media screen and (max-width: $screen-size-lg) {  
        .logo{ background-color: blue;}
    }
    @media screen and (max-width: $screen-size-md) {
        .logo{ background-color: green;}
    }
    @media screen and (max-width: $screen-size-sm) { 
        .logo{ background-color: yellow;}
    }
    @media screen and (max-width: $screen-size-xs) { 
        .logo{ background-color: purple;}
    }
    .card{
        border: transparent;
        position: absolute;
        background-color: transparent;
        bottom: 50px;
        width: 90%;
        padding-left: 80px;
        transition: 0.4s;

        .social-icons-container{
            padding-bottom: 20px;
            width:100%;
            font-size: 22px;
            a{
                padding-right: 10px;
                i{
                    padding: 8px;
                    border-radius: 50px;
                    border: 3px solid $white-color;
                    color: $white-color;
                    transition: 0.4s;
                    &:hover{
                        border-color: $hover-link-color;
                        color: $hover-link-color;
                    }
                }
            }
        }
        .name{
            font-size: 40pt;
            line-height: 0.8;
            letter-spacing: -.1rem;
            font-weight: bold;
            padding-bottom: 10px;
        }
        .salutation{
            padding-bottom: 40px;
        }
        .about-me{
            a{
                font-weight: bold;
                background-color: $white-color;
                color: $dark-color;
                padding: 22px 35px;
                border-radius: 45px;
                transition: 0.4s;
                cursor: pointer;
                &:hover {
                    background-color: $hover-link-color;
                    color: $white-color;
                }
            }
            
        }
    }
    @media screen and (max-width: $screen-size-xl) {
        .card{ padding-left: 40px;}
    }
    @media screen and (max-width: $screen-size-lg) {  
        .card{ padding-left: 30px;}
    }
    @media screen and (max-width: $screen-size-md) {
        .card{ display: none;}
    }
    @media screen and (max-width: $screen-size-sm) { 
        .card{ background-color: yellow;}
    }
    @media screen and (max-width: $screen-size-xs) { 
        .card{ background-color: purple;}
    }

    .over {
        background: rgb(29, 29, 29, 0.4);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: $screen-size-md) {
    .wrapper-left-side {
        background-size: cover;
        position: relative;
        width: 100%;
        height: 200px;
    }
}

.wrapper-right-side {
    //min-height:2000px;
    transition: 0.4s;

    nav {
        background-color: $black-color;
        padding: 20px 30px;
        display: flex;
        justify-content: center;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                margin: 0 20px;
                a{
                    display: block;
                    font-size: 22px;
                    line-height: 0.8;
                    letter-spacing: -.1rem;
                    font-weight: lighter;
                    padding: 10px;
                    cursor: pointer;
                    position: relative;
                    transition: 0.4s;
                    &:hover {
                        color: $secondary-color!important;
                    }
                    &:after{
                        position: absolute;
                        content: '';
                        height: 2px;
                        bottom: 0px;
                        margin: 0 auto;
                        left: 0;
                        right: 0;
                        width: 0%;
                        background: $secondary-color;
                        opacity: 0;
                        transition: opacity 0.3s, 0.3s;
                    }
                    &:hover::after, &:focus::after{
                        opacity: 1;
                        width: 100%;
                    }
                }
            } 
        } 
    }

   


    #back-button {
        position: relative;
        text-align: left;
        top: 10px;
        left: 15px;
        width: 150px;
        padding-top: 12px;
        padding-left: 25px;
        padding-bottom: 0px;
        border-radius: 20px;
        //background-color: $black-color-font;
        cursor: pointer;
        //color: $main-color-font;
        transition: all 0.2s ease;
        &:hover {
            padding-left: 20px;
            width: 135px;
        }
    }

    @media screen and (max-width: $screen-size-sm) {
        #back-button {
            padding-top: 8px;
            width: 90px;
            padding-left: 18px;

            p {
                font-size: 12px;
            }
        }
    }

    .career_content{
        
        @mixin underline {
            position: absolute;
            content: '';
            height: 3px;
            bottom: -10px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 42px;
            background: $dark-color;
        }

        .title{
            font-size: 25pt;
            line-height: 0.8;
            letter-spacing: -.1rem;
            font-weight: bold;
            text-align: center;
            position: relative;
            padding: 10px 0px;
            margin-bottom: 25px;
            &:after { @include underline();}
        }
        .section1{
            padding: 40px 5%;
            background-color: #1C1C1C;

            .buttons{
                padding-bottom: 20px;
                display:flex;
                justify-content: center;
                a{
                    background-color: $white-color;
                    color: $dark-color;
                    font-size: 20pt;
                    font-weight: bold;
                    padding: 5px 20px;
                    border-radius: 8px;
                    margin: 0px 10px;
                    &:hover {
                        background-color: $hover-link-color;
                        color: $white-color;
                    }
                }
            }
            .subtitle{
                font-size: 25pt;
                line-height: 1.5;
                letter-spacing: -.1rem;
                font-weight: bold;
                margin-bottom: 10px;
            }
            table{
                margin-left: 20px;
                td{
                    padding: 3px;
                }
            }
            ul{
                font-size: 17pt;
                line-height: 1.2;
                font-weight: regular;
            }
        }
        .section2{
            padding: 40px 15%;
            .card{
                border: transparent;
                background-color: transparent;
                .name{
                    font-size: 22pt;
                    line-height: 1.2;
                    font-weight: bold;
                    
                }
                .institution{
                    font-size: 17pt;
                    line-height: 1.2;
                    font-weight: regular;
                }
                .location, .year{
                    font-size: 14pt;
                    line-height: 1.2;
                    font-weight: bold;
                }
                .description{
                    font-size: 14pt;
                    line-height: 1.2;
                    font-weight: regular;
                    li{
                        padding-top: 10px;
                    }
                }
            }
        }

        @media screen and (max-width: $screen-size-xxl) {

        }
    }

    .about_content{
        padding: 40px 20%;
        .section1{
            
            .name{
                font-size: 30pt;
                line-height: 1.2;
                font-weight: bold;
            }
            .position{
                font-size: 21pt;
                line-height: 1.2;
                font-weight: lighter;
                position: relative;
                padding-bottom: 10x;
                margin-bottom: 18px;
                &:after{
                    position: absolute;
                    content: '';
                    height: 3px;
                    bottom: -15px;
                    margin: 0 auto;
                    left: 0;
                    width: 42px;
                    background: $white-color;
                }
                
            }
            .description{
                padding-top: 10px;
                font-size: 19pt;
                line-height: 1.2;
                font-weight: regular;
                text-align: justify;
                text-justify: inter-word;
            }
        }
        .section2{
            font-size: 19pt;
            line-height: 1.2;
            font-weight: regular;
            text-align: justify;
            text-justify: inter-word;
        }
    }

    .projects {
        .spacing {
            background-clip: padding-box;
            border: 5px solid transparent;
        }

        .project {
            position: relative;
            height: 350px;
            width: 100%;
            transition: .3s ease-in-out;
            cursor: pointer;

            .bg {
                background-color: rgb(29, 29, 29, 0);
                color: rgb(255, 255, 255, 0);
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transition: .3s ease-in-out;

                &:hover {
                    background-color: rgb(29, 29, 29, 0.4);
                    color: rgb(255, 255, 255, 1);
                }
            }

            .name {
                margin-top: 10px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        @media screen and (max-width: $screen-size-xxl) {
            .project {
                height: 300px;
            }
        }

        @media screen and (max-width: $screen-size-lg) {
            .project {
                height: 230px;
            }
        }

        @media screen and (max-width: $screen-size-sm) {
            .project {
                height: 140px;

                .bg {
                    display: none;
                }
            }
        }

        .bg-paper-asteroid {
            background: url('assets/img/itchio_icon.jpg');
            @include backgroundCover();
        }

        .bg-number-cruncher {
            background: url('assets/img/itchio_icon.jpg');
            @include backgroundCover();
        }

        .bg-dagovt {
            background: url('assets/img/itchio_icon.jpg');
            @include backgroundCover();
        }

        .bg-blackjack {
            background: url('assets/img/itchio_icon.jpg');
            @include backgroundCover();
        }

        .bg-dpa {
            background: url('assets/img/itchio_icon.jpg');
            @include backgroundCover();
        }
    }
}

@media screen and (max-width: $screen-size-md) {
    .wrapper-right-side {
        margin-left: 0px;
    }
}

.about-me {
    #back-button {
        background-color: $white-color;

        a {
            color: $dark-color;
        }
    }

    .left-content {
        background: url('assets/img/david_triana_front_page.webp');
        background-position: right 70% center;
        background-size: cover;
        position: fixed;
        padding: 0px;
        height: 100vh;
        width: 33.33%;
        top: 0px;
        left: 0;
    }

    @media screen and (max-width: $screen-size-xxl) {
        .left-content {
            background-size: cover;
            background-position: bottom 65% center;
            position: relative;
            width: 100%;
            height: 200px;
        }
    }

    

    @media screen and (max-width: $screen-size-sm) {
        .right-content {
            padding: 20px 20px;
        }
    }

    p {
        text-align: justify;
    }
}
