@charset "UTF-8";
.row.no-padding > * {
  padding: 0;
}

/* Variables ––––––––––––––––––––––––––––––––––––––––––––––––––– */
/** Screen Sizes ––––––––––––––––––––––––––––––––––––––––––––––– */
/*                            //  Breakpoint      Dimensions
$screen-size-xs: 576px;     //  x-small             <576 px
$screen-size-sm: 768px;     //  small               >=576 px
$screen-size-md: 992px;     //  medium              >=768 px
$screen-size-lg: 1200px;     //  large              >=992 px
$screen-size-xl: 1400px;     //  extra large        >=1200 px
$screen-size-xxl: none;    //  extra extra large    >=1400 px

/* General ––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: #3A3A3A;
  color: #ffffff;
  font-family: "Lato";
}

.no-overflow {
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.centered {
  display: flex;
  justify-content: center;
}

/* Fonts Defitions ––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
}
/* Typography –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  font-size: 48px;
  line-height: 0.8;
  letter-spacing: -0.1rem;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: -0.1rem;
  font-weight: bold;
}

h3 {
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: -0.08rem;
  font-weight: regular;
}

h5 {
  font-size: 23px;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0;
  margin: 0;
}

p {
  font-size: 40px;
  line-height: 1.6;
  letter-spacing: 0;
}

/*
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}*/
@media screen and (max-width: 1439px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 29px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 27px;
  }
  h5 {
    font-size: 21px;
  }
  h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 27px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: 424px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 19px;
  }
  h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: 374px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 23px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper-left-side {
  background: url("/assets/img/drey_splashart.webp");
  background-position: right 30% center;
  background-size: cover;
  position: fixed;
  padding: 0px;
  height: 100vh;
  width: 33.33%;
  top: 0px;
  left: 0;
  transition: 0.4s;
}
.wrapper-left-side .logo {
  background: url("/assets/img/favicon.ico");
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  padding: 20px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-left-side .card {
  border: transparent;
  position: absolute;
  background-color: transparent;
  bottom: 50px;
  width: 90%;
  padding-left: 80px;
  transition: 0.4s;
}
.wrapper-left-side .card .social-icons-container {
  padding-bottom: 20px;
  width: 100%;
  font-size: 22px;
}
.wrapper-left-side .card .social-icons-container a {
  padding-right: 10px;
}
.wrapper-left-side .card .social-icons-container a i {
  padding: 8px;
  border-radius: 50px;
  border: 3px solid #ffffff;
  color: #ffffff;
  transition: 0.4s;
}
.wrapper-left-side .card .social-icons-container a i:hover {
  border-color: #979ACC;
  color: #979ACC;
}
.wrapper-left-side .card .name {
  font-size: 40pt;
  line-height: 0.8;
  letter-spacing: -0.1rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.wrapper-left-side .card .salutation {
  padding-bottom: 40px;
}
.wrapper-left-side .card .about-me a {
  font-weight: bold;
  background-color: #ffffff;
  color: #3A3A3A;
  padding: 22px 35px;
  border-radius: 45px;
  transition: 0.4s;
  cursor: pointer;
}
.wrapper-left-side .card .about-me a:hover {
  background-color: #979ACC;
  color: #ffffff;
}
@media screen and (max-width: 1439px) {
  .wrapper-left-side .card {
    padding-left: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .wrapper-left-side .card {
    padding-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper-left-side .card {
    display: none;
  }
}
.wrapper-left-side .over {
  background: rgba(29, 29, 29, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .wrapper-left-side {
    background-size: cover;
    position: relative;
    width: 100%;
    height: 200px;
  }
}
.wrapper-right-side {
  transition: 0.4s;
}
.wrapper-right-side nav {
  background-color: #242424;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
}
.wrapper-right-side nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-right-side nav ul li {
  margin: 0 20px;
}
.wrapper-right-side nav ul li a {
  display: block;
  font-size: 22px;
  line-height: 0.8;
  letter-spacing: -0.1rem;
  font-weight: lighter;
  padding: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
.wrapper-right-side nav ul li a:hover {
  color: #99CC83 !important;
}
.wrapper-right-side nav ul li a:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0%;
  background: #99CC83;
  opacity: 0;
  transition: opacity 0.3s, 0.3s;
}
.wrapper-right-side nav ul li a:hover::after, .wrapper-right-side nav ul li a:focus::after {
  opacity: 1;
  width: 100%;
}
.wrapper-right-side .career_page .section-curriculum-links {
  padding: 20px 0px;
  background-color: #1C1C1C;
}
.wrapper-right-side .career_page .section-curriculum-links .buttons {
  display: flex;
  justify-content: center;
}
.wrapper-right-side .career_page .section-curriculum-links .buttons a {
  background-color: #ffffff;
  color: #3A3A3A;
  border-radius: 8px;
  width: 210px;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-curriculum-links .buttons a i {
  padding-top: 8px;
  padding-right: 10px;
}
.wrapper-right-side .career_page .section-curriculum-links .buttons a:hover {
  background-color: #979ACC;
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  .wrapper-right-side .career_page .section-curriculum-links .buttons a {
    font-size: 23px;
    width: 180px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .wrapper-right-side .career_page .section-curriculum-links {
    padding-bottom: 0px;
  }
}
.wrapper-right-side .career_page .section-skills {
  padding: 60px 50px;
}
.wrapper-right-side .career_page .section-skills .title {
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  font-weight: bold;
}
.wrapper-right-side .career_page .section-skills .title:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 42px;
  background: #ffffff;
}
.wrapper-right-side .career_page .section-skills .subtitle {
  margin-bottom: 10px;
  width: 80%;
  margin: auto;
  padding: 20px 0px;
}
.wrapper-right-side .career_page .section-skills table {
  margin-left: 20px;
  width: 80%;
  max-width: 200px;
  margin-left: 10%;
}
.wrapper-right-side .career_page .section-skills table .icon-unity {
  background: url("/assets/icon/bw/unity.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-unity:hover {
  background: url("/assets/icon/color/unity.png");
}
.wrapper-right-side .career_page .section-skills table .icon-ai {
  background: url("/assets/icon/bw/ai.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-ai:hover {
  background: url("/assets/icon/color/ai.png");
}
.wrapper-right-side .career_page .section-skills table .icon-aph {
  background: url("/assets/icon/bw/aph.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-aph:hover {
  background: url("/assets/icon/color/aph.png");
}
.wrapper-right-side .career_page .section-skills table .icon-apr {
  background: url("/assets/icon/bw/apr.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-apr:hover {
  background: url("/assets/icon/color/apr.png");
}
.wrapper-right-side .career_page .section-skills table .icon-ae {
  background: url("/assets/icon/bw/ae.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-ae:hover {
  background: url("/assets/icon/color/ae.png");
}
.wrapper-right-side .career_page .section-skills table .icon-office {
  background: url("/assets/icon/bw/office.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-office:hover {
  background: url("/assets/icon/color/office.png");
}
.wrapper-right-side .career_page .section-skills table .icon-vsc {
  background: url("/assets/icon/bw/vsc.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-vsc:hover {
  background: url("/assets/icon/color/vsc.png");
}
.wrapper-right-side .career_page .section-skills table .icon-intellij {
  background: url("/assets/icon/bw/intellij.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-intellij:hover {
  background: url("/assets/icon/color/intellij.png");
}
.wrapper-right-side .career_page .section-skills table .icon-eclipse {
  background: url("/assets/icon/bw/eclipse.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-eclipse:hover {
  background: url("/assets/icon/color/eclipse.png");
}
.wrapper-right-side .career_page .section-skills table .icon-github {
  background: url("/assets/icon/bw/github.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-github:hover {
  background: url("/assets/icon/color/github.png");
}
.wrapper-right-side .career_page .section-skills table .icon-jira {
  background: url("/assets/icon/bw/jira.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-jira:hover {
  background: url("/assets/icon/color/jira.png");
}
.wrapper-right-side .career_page .section-skills table .icon-trello {
  background: url("/assets/icon/bw/trello.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-trello:hover {
  background: url("/assets/icon/color/trello.png");
}
.wrapper-right-side .career_page .section-skills table .icon-monday {
  background: url("/assets/icon/bw/monday.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-monday:hover {
  background: url("/assets/icon/color/monday.png");
}
.wrapper-right-side .career_page .section-skills table .icon-pabbly {
  background: url("/assets/icon/bw/pabbly.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-pabbly:hover {
  background: url("/assets/icon/color/pabbly.png");
}
.wrapper-right-side .career_page .section-skills table .icon-cs {
  background: url("/assets/icon/bw/cs.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-cs:hover {
  background: url("/assets/icon/color/cs.png");
}
.wrapper-right-side .career_page .section-skills table .icon-cpp {
  background: url("/assets/icon/bw/cpp.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-cpp:hover {
  background: url("/assets/icon/color/cpp.png");
}
.wrapper-right-side .career_page .section-skills table .icon-java {
  background: url("/assets/icon/bw/java.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-java:hover {
  background: url("/assets/icon/color/java.png");
}
.wrapper-right-side .career_page .section-skills table .icon-python {
  background: url("/assets/icon/bw/python.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-python:hover {
  background: url("/assets/icon/color/python.png");
}
.wrapper-right-side .career_page .section-skills table .icon-swift {
  background: url("/assets/icon/bw/swift.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-swift:hover {
  background: url("/assets/icon/color/swift.png");
}
.wrapper-right-side .career_page .section-skills table .icon-lua {
  background: url("/assets/icon/bw/lua.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-lua:hover {
  background: url("/assets/icon/color/lua.png");
}
.wrapper-right-side .career_page .section-skills table .icon-html {
  background: url("/assets/icon/bw/html.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-html:hover {
  background: url("/assets/icon/color/html.png");
}
.wrapper-right-side .career_page .section-skills table .icon-css {
  background: url("/assets/icon/bw/css.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-css:hover {
  background: url("/assets/icon/color/css.png");
}
.wrapper-right-side .career_page .section-skills table .icon-sass {
  background: url("/assets/icon/bw/sass.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-sass:hover {
  background: url("/assets/icon/color/sass.png");
}
.wrapper-right-side .career_page .section-skills table .icon-js {
  background: url("/assets/icon/bw/js.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-js:hover {
  background: url("/assets/icon/color/js.png");
}
.wrapper-right-side .career_page .section-skills table .icon-xml {
  background: url("/assets/icon/bw/xml.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-xml:hover {
  background: url("/assets/icon/color/xml.png");
}
.wrapper-right-side .career_page .section-skills table .icon-json {
  background: url("/assets/icon/bw/json.png");
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.wrapper-right-side .career_page .section-skills table .icon-json:hover {
  background: url("/assets/icon/color/json.png");
}
.wrapper-right-side .career_page .section-skills ul {
  font-size: 20px;
  width: 90%;
  margin: auto;
  list-style-type: none;
}
.wrapper-right-side .career_page .section-skills ul li {
  text-indent: -13px;
}
.wrapper-right-side .career_page .section-skills ul li:before {
  content: "-  ";
}
@media screen and (max-width: 1023px) {
  .wrapper-right-side .career_page .section-skills ul {
    width: 90%;
  }
  .wrapper-right-side .career_page .section-skills table {
    width: 95%;
  }
}
@media screen and (max-width: 1023px) {
  .wrapper-right-side .career_page .section-skills {
    padding: 50px 10px;
  }
}
.wrapper-right-side .career_page .section-education {
  padding: 40px 15%;
  background-color: #ffffff;
  color: #3A3A3A;
}
.wrapper-right-side .career_page .section-education .title {
  text-align: center;
  position: relative;
  color: #99CC83;
  margin-bottom: 25px;
  font-weight: bold;
}
.wrapper-right-side .career_page .section-education .title:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 42px;
  background: #99CC83;
}
.wrapper-right-side .career_page .section-education .card {
  border: transparent;
  background-color: transparent;
}
.wrapper-right-side .career_page .section-education .card .academy_nbcc {
  background: url("/assets/img/academy-nbcc.png");
  min-height: 120px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper-right-side .career_page .section-education .card .academy_umng {
  background: url("/assets/img/academy_umng.png");
  min-height: 120px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper-right-side .career_page .section-education .card .name {
  font-weight: bold;
}
.wrapper-right-side .career_page .section-education .card .institution {
  font-weight: regular;
}
.wrapper-right-side .career_page .section-education .card .location, .wrapper-right-side .career_page .section-education .card .year {
  font-size: 14pt;
  line-height: 1.2;
  font-weight: bold;
}
.wrapper-right-side .career_page .section-education .card .description {
  font-size: 14pt;
  line-height: 1.2;
  font-weight: regular;
}
.wrapper-right-side .career_page .section-education .card .description li {
  padding-top: 10px;
}
@media screen and (max-width: 1023px) {
  .wrapper-right-side .career_page .section-education .card .name, .wrapper-right-side .career_page .section-education .card .institution, .wrapper-right-side .career_page .section-education .card .location, .wrapper-right-side .career_page .section-education .card .year {
    text-align: center;
  }
  .wrapper-right-side .career_page .section-education .card .academy_nbcc, .wrapper-right-side .career_page .section-education .card .academy_umng {
    background-position: center;
  }
}
.wrapper-right-side .career_page .section-other-education {
  padding: 40px 15%;
  background-color: #3A3A3A;
  color: #ffffff;
}
.wrapper-right-side .career_page .section-other-education .title {
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  font-weight: bold;
}
.wrapper-right-side .career_page .section-other-education .title:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 42px;
  background: #ffffff;
}
.wrapper-right-side .career_page .section-other-education .card {
  border: transparent;
  background-color: transparent;
}
.wrapper-right-side .career_page .section-other-education .card .academy_gc {
  background: url("/assets/img/education-gc.png");
  min-height: 80px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper-right-side .career_page .section-other-education .card .academy_platzi {
  background: url("/assets/img/education-platzi.png");
  min-height: 80px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper-right-side .career_page .section-other-education .card .name {
  font-weight: regular;
  line-height: 17px;
}
.wrapper-right-side .career_page .section-other-education .card .institution {
  font-weight: bold;
  font-size: 18px;
}
.wrapper-right-side .career_page .section-other-education .card .location, .wrapper-right-side .career_page .section-other-education .card .year {
  font-size: 13px;
  font-weight: bold;
}
@media screen and (max-width: 1023px) {
  .wrapper-right-side .career_page .section-other-education .card .name, .wrapper-right-side .career_page .section-other-education .card .institution, .wrapper-right-side .career_page .section-other-education .card .location, .wrapper-right-side .career_page .section-other-education .card .year {
    text-align: center;
  }
  .wrapper-right-side .career_page .section-other-education .card .academy_gc, .wrapper-right-side .career_page .section-other-education .card .academy_platzi {
    background-position: center;
  }
}
.wrapper-right-side .career_page .section-work-experience {
  padding: 40px 15%;
  background-color: #ffffff;
  color: #3A3A3A;
}
.wrapper-right-side .career_page .section-work-experience .title {
  text-align: center;
  position: relative;
  color: #99CC83;
  margin-bottom: 25px;
  font-weight: bold;
}
.wrapper-right-side .career_page .section-work-experience .title:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 42px;
  background: #99CC83;
}
.wrapper-right-side .career_page .section-work-experience .card {
  border: transparent;
  background-color: transparent;
}
.wrapper-right-side .career_page .section-work-experience .card .experience_paper {
  background: url("/assets/img/experience_paper.png");
  min-height: 100px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper-right-side .career_page .section-work-experience .card .experience_elmedio {
  background: url("/assets/img/experience_elmedio.png");
  min-height: 100px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper-right-side .career_page .section-work-experience .card .experience_davidtriana {
  background: url("/assets/img/experience_davidtriana.png");
  min-height: 100px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper-right-side .career_page .section-work-experience .card .experience_asecum {
  background: url("/assets/img/experience_asecum.png");
  min-height: 100px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper-right-side .career_page .section-work-experience .card .position {
  font-weight: regular;
  font-style: italic;
}
.wrapper-right-side .career_page .section-work-experience .card .company {
  font-size: 14px;
  font-weight: bold;
}
.wrapper-right-side .career_page .section-work-experience .card .location-time {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
.wrapper-right-side .career_page .section-work-experience .card .description {
  font-size: 16px;
  line-height: 1.2;
  font-weight: regular;
  padding-top: 10px;
}
@media screen and (max-width: 1023px) {
  .wrapper-right-side .career_page .section-work-experience .card .position, .wrapper-right-side .career_page .section-work-experience .card .company, .wrapper-right-side .career_page .section-work-experience .card .location-time {
    text-align: center;
  }
  .wrapper-right-side .career_page .section-work-experience .card .experience_paper, .wrapper-right-side .career_page .section-work-experience .card .experience_elmedio, .wrapper-right-side .career_page .section-work-experience .card .experience_davidtriana, .wrapper-right-side .career_page .section-work-experience .card .experience_asecum {
    background-position: center;
    min-height: 200px;
    margin-top: 30px;
  }
}
.wrapper-right-side .career_page .section-other-jobs {
  padding: 40px 15%;
  background-color: #3A3A3A;
  color: #ffffff;
}
.wrapper-right-side .career_page .section-other-jobs .title {
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  font-weight: bold;
}
.wrapper-right-side .career_page .section-other-jobs .title:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 42px;
  background: #ffffff;
}
.wrapper-right-side .career_page .section-other-jobs .experience_cook {
  background: url("/assets/img/experience_cook.png");
  min-height: 80px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-position: center;
}
.wrapper-right-side .career_page .section-other-jobs .experience_server {
  background: url("/assets/img/experience_server.png");
  min-height: 80px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-position: center;
}
.wrapper-right-side .career_page .section-other-jobs .experience_uber_eats {
  background: url("/assets/img/experience_uber_eats.png");
  min-height: 80px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-position: center;
}
.wrapper-right-side .career_page .section-other-jobs .experience_warehouse {
  background: url("/assets/img/experience_warehouse.png");
  min-height: 80px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-position: center;
}
.wrapper-right-side .career_page .section-other-jobs .experience_tims {
  background: url("/assets/img/experience_tims.png");
  min-height: 80px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-position: center;
}
.wrapper-right-side .career_page .section-other-jobs .experience_mcd {
  background: url("/assets/img/experience_mcd.png");
  min-height: 80px;
  min-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-position: center;
}
@media screen and (max-width: 1023px) {
  .wrapper-right-side .career_page .experience_cook,
  .wrapper-right-side .career_page .experience_server,
  .wrapper-right-side .career_page .experience_uber_eats,
  .wrapper-right-side .career_page .experience_warehouse,
  .wrapper-right-side .career_page .experience_tims,
  .wrapper-right-side .career_page .experience_mcd {
    margin-top: 20px;
  }
}
.wrapper-right-side .about_page {
  padding: 40px 20%;
}
.wrapper-right-side .about_page .section_introduction .name {
  font-weight: bold;
}
.wrapper-right-side .about_page .section_introduction .position {
  font-weight: lighter;
  position: relative;
  padding-bottom: 10x;
  margin-bottom: 18px;
}
.wrapper-right-side .about_page .section_introduction .position:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -15px;
  margin: 0 auto;
  left: 0;
  width: 42px;
  background: #ffffff;
}
.wrapper-right-side .about_page .section_introduction .description {
  font-size: 19px;
  line-height: 26px;
  text-align: justify;
  text-justify: inter-word;
}
.wrapper-right-side .about_page .section_story {
  font-size: 25px;
  font-weight: regular;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 767px) {
  .wrapper-right-side {
    margin-left: 0px;
  }
}
.about-me #back-button {
  background-color: #ffffff;
}
.about-me #back-button a {
  color: #3A3A3A;
}
.about-me .left-content {
  background: url("assets/img/david_triana_front_page.webp");
  background-position: right 70% center;
  background-size: cover;
  position: fixed;
  padding: 0px;
  height: 100vh;
  width: 33.33%;
  top: 0px;
  left: 0;
}
@media screen and (max-width: none) {
  .about-me .left-content {
    background-size: cover;
    background-position: bottom 65% center;
    position: relative;
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 424px) {
  .about-me .right-content {
    padding: 20px 20px;
  }
}
.about-me p {
  text-align: justify;
}

#back-button {
  position: relative;
  text-align: left;
  top: 10px;
  left: 15px;
  width: 150px;
  padding-top: 12px;
  padding-left: 25px;
  padding-bottom: 0px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#back-button:hover {
  padding-left: 20px;
  width: 135px;
}

@media screen and (max-width: 424px) {
  #back-button {
    padding-top: 8px;
    width: 90px;
    padding-left: 18px;
  }
  #back-button p {
    font-size: 12px;
  }
}
.project_page .section_introduction {
  padding-top: 30px;
}
.project_page .section_introduction .title {
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  font-weight: bold;
}
.project_page .section_introduction .title:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 42px;
  background: #ffffff;
}
.project_page .section_introduction .introduction {
  text-align: center;
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
}
.project_page .section-projects {
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  padding: 30px 0px;
}
.project_page .section-projects .project .image {
  padding: 5px 20px;
}
.project_page .section-projects .project .information {
  padding: 5px 20px;
}/*# sourceMappingURL=style.css.map */